*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.commands{
    width: 500px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
}

.commands button{
    width: 100px;
    height: 40px;
    outline: none;
    border-style: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: 0.3s all ease-in-out;
}

.commands button:hover{
    background-color: brown;
}
.countdown{
    width: 500px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
}
.countdown .time{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    font-weight: bold;
}
